.management-calendar {
  color: var(--high-emphasis);
}
/* 
.management-calendar-sidebar-button {
  width: 3em;
  height: 3em;
  padding: 0 !important;
  border-radius: 5000px !important;
} */

/* .makeStyles-root-1 {
  position: absolute;
} */

/* .MuiToolbar-root {
  display: block !important;
  padding-left: 1em !important;
} */
.makeStyles-menuButton-4 {
  margin-top: -3px !important;
}
.fc-daygrid-day-top {
  padding: 0.4em;
  font-size: 1.2em;
}

.fc-popover-header {
  background-color: transparent !important;
}

.fc-popover {
  padding: 0.4em;

  color: var(--dark-high-emphasis);
  border-radius: 0.4em;
  border-top-left-radius: 0;
}
.fc-popover-body {
  padding: 0.5em 0 !important;
}
.fc-daygrid-event {
  padding: 0.2em 0.4em;
}

.fc-scrollgrid {
  border-radius: 0.4em;
  border-bottom-right-radius: 0 !important;
}

.fc-theme-standard td {
  border-top-right-radius: 0 !important;
}

.fc-col-header-cell {
  padding: 1em !important;
}

.fc-col-header-cell-cushion {
  letter-spacing: 3px;
  font-size: 1.2em;
  background: var(--primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fc-day-today {
  border-radius: 0 !important;
}

.fc-media-screen {
  min-height: 88vh;
}

.MuiDrawer-paper {
  background-color: var(--dark-bg) !important;
}
.MuiDrawer-paperAnchorDockedLeft {
  border-right: 2px solid var(--primary) !important;
}
.fc-timegrid-slot {
  padding: 0.4em !important;
}
.fc-timegrid-axis-frame {
  justify-content: center !important;
  /* color: var(--primary); */
}

.fc-direction-ltr .fc-timegrid-col-events {
  margin: 0 !important;
}
.fc-timegrid-events {
  color: black !important;
}

.fc-event-main {
  /* padding: 1em !important; */
  /* color: rgba(0, 0, 0, 0.8) !important; */
}
.fc .fc-daygrid-day.fc-day-today {
  background-color: transparent;
  box-shadow: inset 0 0 0 4px var(--primary);
  box-sizing: border-box !important;
  text-overflow: ellipsis;
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
  border-radius: 50%;
  /* padding: 8px; */
  color: var(--primary);
  /* border: 4px solid var(--primary); */
}
.fc .fc-daygrid-event-harness-abs {
  cursor: pointer !important;
}
.fc .fc-button-primary:not(:disabled).fc-button-active {
  color: var(--dark-bg);
}
.management-calendar--blur {
  filter: blur(0.8em);
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.management-calendar-main--blur {
  filter: blur(0.4em);
}
