.app {
  width: 100%;
  min-height: calc(100vh - 56px);
  margin-top: 56px;
  background-color: #222629;
  display: flex;
  align-items: center;
  padding: 20px;
}

@media screen and (min-width: 1024px) {
  .app {
    min-height: calc(100vh - 64px);
    margin-top: 64px;
  }
}

.appCalendar {
  composes: app;
  display: block;
}

.mainPreloader {
  display: flex;
  align-items: center;
  justify-content: center;
}
